In [9]:
#we load the dataset to the notebook in this cell
import pandas as pd

data = pd.read_csv('/content/shopping_behavior_updated.csv')

print(data.head())

   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

In [10]:
#we display the dataset to view about the contents and details of the dataset
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB
None
       Customer ID          Age  Purchase Amount (USD)  Review Rating  \
count  3900.000000  3900.000000            3900.000000    3900.000000
mean   1950.500000    44.068462              59.764359       3.749949
std    1125.977353    15.207589              23.685392       0.716223
min       1.000000    18.000000              20.000000       2.500000
25%     975.750000    31.000000              39.000000       3.100000
50%    1950.500000    44.000000              60.000000       3.700000
75%    2925.250000    57.000000              81.000000       4.400000
max    3900.000000    70.000000             100.000000       5.000000

       Previous Purchases
count         3900.000000
mean            25.351538
std             14.447125
min              1.000000
25%             13.000000
50%             25.000000
75%             38.000000
max             50.000000

In [13]:
#we create the item id which is missing in the dataset
data['Item_ID'] = data['Item Purchased'].astype('category').cat.codes

print(data.head())

   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases  Item_ID
0          Venmo            Fortnightly        2
1           Cash            Fortnightly       23
2    Credit Card                 Weekly       11
3         PayPal                 Weekly       14
4         PayPal               Annually        2

In [16]:
#we use the train test split and train the model
from surprise import SVD, Dataset, Reader
from surprise.model_selection import train_test_split

user_item_data = data.groupby(['Customer ID', 'Item_ID']).size().reset_index(name='rating')

reader = Reader(rating_scale=(0, user_item_data['rating'].max()))
surprise_data = Dataset.load_from_df(user_item_data[['Customer ID', 'Item_ID', 'rating']], reader)


trainset, testset = train_test_split(surprise_data, test_size=0.2, random_state=42)


model = SVD()
model.fit(trainset)

In [23]:
#we design the recommendation system
def recommend_top_items(customer_id, model, data, num_recommendations=4):
    """
    Recommend top N items for a given customer.
    """

    all_items = data['Item_ID'].unique()


    purchased_items = data[data['Customer ID'] == customer_id]['Item_ID'].tolist()


    items_to_predict = [item for item in all_items if item not in purchased_items]


    predictions = [model.predict(customer_id, item_id) for item_id in items_to_predict]


    predictions.sort(key=lambda x: x.est, reverse=True)


    top_recommendations = [(pred.iid, pred.est) for pred in predictions[:num_recommendations]]
    return top_recommendations


customer_id = '2'
recommendations = recommend_top_items(customer_id, model, user_item_data, num_recommendations=4)
print(f"Top 4 recommended items for Customer {customer_id}: {recommendations}")

Top 4 recommended items for Customer 2: [(23, 1), (14, 1), (16, 1), (18, 1)]

In [24]:
#we turn the item id into item purchased
item_map = data[['Item_ID', 'Item Purchased']].drop_duplicates()

recommended_items = [(item_map[item_map['Item_ID'] == item_id]['Item Purchased'].values[0], rating)
                     for item_id, rating in recommendations]

print(f"Top 4 recommended items for Customer {customer_id}: {recommended_items}")

Top 4 recommended items for Customer 2: [('Sweater', 1), ('Sandals', 1), ('Shirt', 1), ('Shorts', 1)]